<% flash.each do |key, value| %>
  <div><%= value %></div>
<% end %>


<%= form_for @flower do |f| %>
  <%=f.text_field :name %>
  <%=f.number_field :pollen_capacity %>
  <%=f.collection_check_boxes :bee_ids, Bee.all, :id, :name %>
  <%=f.submit  %>
<%end %>
