<% if flash[:errors] && flash[:errors].length > 0  %>
    <ul><%  flash[:errors].each do |error| %>
        <li> <%= error %></li>
        <% end %>
    </ul>
<% end  %>



<%= form_for @hive do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :honey_type %>
    <%= f.text_field :honey_type %><br>
    <%= f.label "Bees:" %>
    <%= f.collection_check_boxes :bee_ids, @bees, :id, :name %><br>
    <%= f.submit %>
<% end %>
